# =====================================
# Windows
# =====================================
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# =====================================
# Editor / IDE
# =====================================
.vscode/
.idea/
*.code-workspace

# =====================================
# Temporary Dateien
# =====================================
*.tmp
*.temp
*.log
*.bak
*.old

# =====================================
# Build / Kompilierte Dateien
# =====================================
*.obj
*.o
*.pdb
*.lib
*.ilk

# =====================================
# Archive / Installer
# =====================================
*.7z
*.rar

# =====================================
# System Dateien
# =====================================
.DS_Store

# =====================================
# Git intern
# =====================================
.gitmodules

# =====================================
# Python
# =====================================
__pycache__/
*.pyc
*.pyo

# =====================================
# Node
# =====================================
node_modules/